<%- include('../partials/header') %>

<h1>Flights Information</h1>
<% flights.forEach(elem => { %>
    <tr>
        <td><%= elem.airline %> </td>
        <td><%= elem.airport %> </td>
    </tr>
<% }) %>

<%- include('../partials/footer') %>